*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #484848;
    color: white;
    
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
padding: 1rem;
}
ul{
    display: flex;
    padding: 1rem;
}
li{
    margin: .5rem;
    padding: .5rem;
    list-style: none;
}