*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    background-color: #484848;
    color: white;
    
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
ul{
    display: flex;
    padding: 1rem;
}
li{
    margin: .5rem;
    padding: .5rem;
    list-style: none;
}

.image{
    height: 42rem;
    width: 100%;
    background-color: red;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section{
    padding: 1rem;
    margin: 1rem;
}
h1{
    margin-bottom:1rem;
}
P{
    width: 80%;
    font-style: inter;
}